/* Fade-in animation */
.fade-in {
    -webkit-animation: fade-in 0.3s linear; 
    -moz-animation: fade-in 0.3s linear; 
    animation: fade-in 0.3s linear; 
}
@keyframes fade-in {
    0%    { opacity: 0; }
    100%  { opacity: 1; }
}


/* Navbar */
.navbar {
    background: #212121;
    padding-right: 2rem;
}

.navbar-brand {
    color: #00E676;
    font-weight: bold;
}

.navbar-brand:hover {
    color: #00C853;
}

.nav-item {
    margin-left: 1rem;
    font-size: 0.8rem;
}

.navbar-nav > a:last-child {
    color: #BDBDBD;
}

.navbar-nav > a:last-child:hover {
    color: #00E676;
}


/* Form */
.form-container {
    height: 100vh;
}

.form-wrapper {
    width: 50%;
}

.form-wrapper > label {
    margin-bottom: 1rem;
    text-align: center;
}

.input-group {
    margin-bottom: 2rem;
}


.date-selector {
    text-align: center;
}

.date-selector > label {
    margin: 0 2rem;
    font-size: 3rem;
}


.selector-controllers {
    display: flex;
    justify-content: center;
    margin: 2rem 0;    
}

.selector-controllers > button {
    background: none;
    border: none;
}

.selector-controllers > button > i {
    margin: 0 2rem;
    color: #BDBDBD;
    font-size: 2rem;
}

.selector-controllers > button:focus {
    outline: none;
}

.selector-controllers > button:focus > i,
.selector-controllers > button:hover > i {
    color: #00E676;
}

.submit-btn {
    background: rgb(0, 160, 67);
    padding: 1rem;
    color: #FFF;
    border: none !important;
    border-radius: 3px !important;
    text-align: center;
}

.submit-btn:hover,
.submit-btn:focus {
    background: #00C853;
    border: none !important;
    color: #FFF;
}






/* About */
.about-container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.about-wrapper {
    width: 60%;
}

.about-wrapper > p {
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 200%;
}


/* Report */
.report-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.report-wrapper > p {
    font-size: 2rem;
    line-height: 200%;
    text-align: center;
}

.report-wrapper > p > span {
    color: #00C853;
    font-size: 2.5rem;
    font-weight: bold;
}


/* Social media */
.social-button {
    margin: 0 0.5rem;
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
    color: #FFF;
    font-size: 0.8rem;
}

.social-button:hover {
    color: #FFF;
}

.twitter {
    background: #1DA1F2;
}

.twitter:hover {
    background: rgb(25, 138, 207);
}

.facebook {
    background: #3B5998;
}

.facebook:hover {
    background: rgb(48, 72, 124);
}


/* Media query */
@media (display-mode: fullscreen) {
    
    .about-container {
        height: 100vh;
        margin-top: 0;
        align-items: center;
    }
}


@media (max-width: 1200px) {
    
    .about-wrapper {
        width: 80%;
    }

}

@media (max-width: 900px) {
    
    .form-wrapper {
        width: 80%;
    }

}
